.card {
  height: 600px;
  width: 24%;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
}
.img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.para {
  opacity: 0.8;
}
.price ins {
  font-weight: bold;
}
.star-sec {
  margin-left: 90px;
}
.star {
  width: 20px;
  height: 20px;
  display: inline-block;
}
h3 {
  display: inline-block;
}
