*{
    margin: 0;
    padding: 0;
}
.container{
    /* background-color: aqua; */
    height: 100%;
}
#name{
    margin: 10px 0px;
}
#img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    
}
#img img{
    width: 300px;
    height: 300px;
}
.heading{
    font-size: 20px;
    font-weight: bolder;
}
.left{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vmin;
    border-radius: 10px;
    padding: 5px;
}
.right{
    margin: 20px 10px;
    position: relative;
    width: 100%;
}
.recipe-card{
    display: flex;
}
.btn-div{
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.btn-width{
    width: 40%;
}
