body {
  margin: 0;
  padding: 0;
  font-family: "Bruno Ace SC", cursive;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(34, 34, 34);
  color: white;
}
.logo {
  font-size: 30px;
  padding: 10px;
}
.btn button {
  padding: 10px;
  background-color: orangered;
  border-radius: 10px;
  margin-right: 10px;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.parallex {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.section-1 {
  background-image: url(./images/img1.jpeg);
}
.txt {
  padding: 50px;
}
.section-2 {
  background-image: url(./images/img-2.jpeg);
}
.section-3 {
  background-image: url(./images/img3.jpg);
}
.section-4 {
  background-image: url(./images/img-4.jpeg);
}
footer {
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: white;
  flex-direction: column;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
}
/* footer div {
  width: 100%;
} */
