body {
  padding-left: 30px;
  padding-top: 10px;
  font-family: Helvetica, sans-serif;
}
header {
  /* background-color: bisque; */
  height: 120px;
}
.first {
  display: flex;
  align-items: center;
}
.cat {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.cat svg {
  background-color: lightgrey;
  border-radius: 50%;
  padding: 5px;
}
.cat p {
  padding-left: 10px;
}
.second {
  display: flex;
  align-items: center;
  height: 70px;
  /* background-color: yellowgreen; */
}
.location {
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 45px;
}
.location input {
  border: none;
  outline: none;
  font-size: 20px;
}
.search {
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.search input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 700px;
}
.search svg {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 3px;
}
.buttons {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.second a {
  color: black;
  font-weight: bold;
}
.second a:hover {
  text-decoration: none;
}
.sell {
  display: flex;
  align-items: center;
  width: 100px;
  border-radius: 30px;
  margin-left: 20px;
  text-align: center;
  border: 5px solid black;
}
.container {
  width: 100%;
}
.menu {
  display: flex;
  align-items: center;
}
.drop {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.menu-items ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu-items ul li {
  margin-left: 15px;
}
.allcat {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cat-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px 15px;
  width: 125px;
  height: 150px;
}
.cat-card img {
  width: 95px;
  display: flex;
  align-items: center;
}
.cat-card figcaption {
  text-align: center;
  font-weight: 600;
}
.product-cards {
  display: flex;
  flex-wrap: wrap;
}
.product-img {
  width: 350px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5px;
}
.product-card {
  width: 300px;
  height: 300px;
  /* display: flex; */
  position: relative;
  flex-wrap: wrap;
  align-items: top;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}
.product-card h2,
.product-card h5 {
  margin: 0;
  padding: 5px;
}
.product-card p {
  opacity: 0.8;
  margin: 0;
  padding: 5px;
  font-size: 12px;
}
.heart {
  /* display: inline-block; */
  position: absolute;
  left: 270px;
  top: 205px;
}
.p1 {
  font-weight: bold;
  padding: 5px 0;
}
